{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
    <h3>{{apartment.name}}</h3>
    <p>ID: {{apartment.id}}</p>
    <p>Price: ${{apartment.price}}</p>
    <p>Overall Rating: {{apartment.rating}}</p>
    <p>Apartment Owner: <a href="/profile/{{apartment.username}}">{{apartment.username}}</a></p>

        {% if rec %}
    <div>
        <div class="col-md-8 col-md-offset-2">
            <h3>Recommended Apartments</h3>
        </div>

        <div>
          <table class="table table-striped" style="table-layout:fixed">
            <thead>
            <tr>
              <th>Apartment ID
              <th>Apartment Name
              <th>Apartment Price
              <th>Apartment Rating
              <th>Apartment Owner</th>
            </tr>
            </thead>
            {% for object in rec %}
            <tbody>
            <tr>
              <td>{{object.id}}</td>
              <td><a href="/details/{{object.id}}">{{object.name}}</a></td>
              <td>{{object.price}}</td>
              <td>{{object.rating}}/5</td>
              <td><a href="/profile/{{object.username}}">{{object.username}}</a></td>
            </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
    </div>
    {% endif %}
    <a href="/home">Apartment List</a>
    <!--
    <table class="table table-striped" style="table-layout:fixed">
            <thead>
            <tr>
              <th>Comment Number</th>
              <th>Rating</th>
              <th>Comment</th>
            </tr>
            </thead>
            {% for comment in comments %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{comment.rating}}</td>
                <td>{{comment.comment}}</td>
            </tr>
            {% endfor %}
    </table>
    <a href="/comment/{{apartment.id}}">Comment</a>-->
</div>
{% endblock %}