{% extends 'base.html' %}

{% block content %}
<div class="gtco-heading text-center">
    <div class="col-md-8 col-md-offset-2">
        <h3>Apartment List</h3>
    </div>
    <div>
      <table class="table table-striped" style="table-layout:fixed">
        <thead>
        <tr>
          <th>Apartment ID
          <th>Apartment Name
          <th>Apartment Price
          <th>Apartment Rating
          <th>Apartment Owner</th>
        </tr>
        </thead>
        {% for object in objects %}
        <tbody>
        <tr>
          <td>{{object.id}}</td>
          <td><a href="/details/{{object.id}}">{{object.name}}</a></td>
          <td>{{object.price}}</td>
          <td>{{object.rating}}/5</td>
          <td><a href="/profile/{{object.username}}">{{object.username}}</a></td>
        </tr>
        </tbody>
        {% endfor %}
      </table>
      <a href="/create" class="btn">Create New Apartment</a>
    </div>
</div>
<br>
{% endblock %}