global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:8000
    default_backend servers

backend servers
    server server1 web:8000 check
    server server2 web1:8003 check
    server server3 web2:8004 check
    server server4 web3:8005 check